body {
  background: #fffffe;
    font-family: "Lato", sans-serif;
    color: rgba(0, 61, 121);
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.504); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

select {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  outline: solid 1px;
  border: none;
  padding: 0px 20px;
  /* background-color: transparent; */
  background-color: #ffffff;
  /* border-bottom: 1px solid #050505; */
  color: #000000;
  font-size: 16px;
  border-radius: 5px;
}

input {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  outline: solid 1px;
  border: none;
  padding: 0px 20px;
  /* background-color: transparent; */
  background-color: #ffffff;
  /* border-bottom: 1px solid #050505; */
  color: #000000;
  font-size: 16px;
  border-radius: 5px;
}
.noedit{
  font-family: "Lato", sans-serif;
  border-bottom: none;
  background-color: #a9a9a9;
}
/* The Close Button */
.close {
  position: absolute;
  top: 100px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

@media only screen and (max-width: 978px) {
    .nav-img {
        width: 70%;
        font-family: "Lato", sans-serif;
    }
    .navbar-toggler-icon {
      width: 20px;
      font-family: "Lato", sans-serif;
  }
}

.card {
  width: 100%;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: #5f6c7b;
    background-color: #fffffe;
}

@media only screen and (max-width:575.98px) {
  .card {
      margin-top: 15%;
  }
}

/* .my-custom-scrollbar {
    position: relative;
    height: 550px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
} */

  /* style for modal update button */
  body {font-family: "Lato", sans-serif;;}
  * {box-sizing: border-box;}
  
.table-active{
  width: 25%;
  font-family: "Lato", sans-serif;
}


.btn:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Bayangan yang lebih besar saat mengarahkan kursor ke tombol */
}
